<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h3>Загруженные работы</h3>
    @Styles.Render("~/Content/Custom.css")
    <table>
        <tr>
            <td>
                <p>Subject name</p>
            </td>
            <td>
                <p>Work name</p>
            </td>

            <td>
                <p> Variant number</p>
            </td>

            <td>
                <p> File </p>
            </td>
        </tr>
        @foreach (var homeWork in ViewBag.HomeWorks)
        {
            <tr>
                <td>
                    <p>@homeWork.SubjectName</p>
                </td>
                <td>
                    <p>@homeWork.WorkName</p>
                </td>
                <td>
                    <p>@homeWork.VariantNumber</p>
                </td>

                <td>
                    <a href="@Url.Content("~/Uploads/" + homeWork.UploadedFileName)">Download</a>
                </td>
            </tr>
        }
    </table>
</div>
</body>
</html>

